<header>
    <nav id="menu">
      <ul>
        <li><a routerLink="clientes">Clientes</a></li>
        <li><a routerLink="consultores">Consultores</a></li>
        <li><a routerLink="crear-peticion">Peticiones</a></li>
        <li><a routerLink="">Calendario</a></li>
        <li><a routerLink="">Vision Global</a></li>
        <li>
          <a routerLink="">Usuario</a>
          <ul>
            <li><a routerLink="">Notificaciones</a></li>
            <br />
            <li><a routerLink="">Vision</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>

  