

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef>nombre</th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="apellidos">
    <th mat-header-cell *matHeaderCellDef> apellidos </th>
    <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="telefono">
    <th mat-header-cell *matHeaderCellDef> telefono </th>
    <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
  </ng-container>

  <ng-container matColumnDef="tecnologia">
    <th mat-header-cell *matHeaderCellDef> tecnologia </th>
    <td mat-cell *matCellDef="let element"> {{element.tecnologia}} </td>
  </ng-container>

  <ng-container matColumnDef="salario">
    <th mat-header-cell *matHeaderCellDef> salario </th>
    <td mat-cell *matCellDef="let element"> {{element.salario}} </td>
  </ng-container>


  <ng-container matColumnDef="valoracion">
    <th mat-header-cell *matHeaderCellDef> valoracion </th>
    <td mat-cell *matCellDef="let element"> {{element.valoracion}} </td>
  </ng-container>


  <ng-container matColumnDef="fechaincor">
    <th mat-header-cell *matHeaderCellDef> fechaincor </th>
    <td mat-cell *matCellDef="let element"> {{element.fechaincor}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>